html {
  margin-top: 0 !important; }

.wrapper {
  margin-top: 100px; }

.header.row {
  background: #000000;
  max-width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.header button {
  padding: 10px;
  margin-bottom: 0;
  background: transparent;
  letter-spacing: 1.5px;
  height: 70px;
  border: 0;
  box-shadow: none;
  text-transform: uppercase; }

.header button a, .header ul li a, .header ul li a:hover {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

.header_user_info .nav-wrap:hover {
  background: rgba(255, 255, 255, 0.21); }

.header .logo-home {
  line-height: 0px;
  padding: 15px 0; }
  .header .logo-home button {
    background-image: url("../images/logo-home.png");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 200px;
    height: 50px; }

.dropdown-list-detail {
  position: relative;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background 0.6s ease-out;
  transition: background-color 0.6s ease-out; }

ul.consultancy-dd {
  position: absolute;
  left: -465px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 465px;
  text-align: right; }
  ul.consultancy-dd li {
    padding-right: 15px; }

li.dropdown-list-detail .consultancy-dd {
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background 0.6s ease-out;
  transition: background-color 0.6s ease-out;
  background-color: #0035ff; }

li.dropdown-list-detail:hover .consultancy-dd {
  display: block;
  background-color: rgba(0, 53, 255, 0.8); }

.header_user_info {
  line-height: 40px;
  color: #fff;
  padding: 0;
  float: right;
  overflow: visible;
  margin: 0; }
  .header_user_info .nav-wrap {
    cursor: pointer;
    padding: 5px 10px;
    float: right;
    display: inline-block;
    width: initial;
    margin-left: 0;
    overflow: visible;
    -webkit-transition: background-color 0.6s ease-out;
    -moz-transition: background 0.6s ease-out;
    transition: background-color 0.6s ease-out; }
    .header_user_info .nav-wrap ul, .header_user_info .nav-wrap li {
      display: none; }
  .header_user_info .nav-wrap:last-child {
    padding-right: 15px; }

.single.single-post.postid-54.single-format-standard .container {
  margin-top: 120px; }

.sb-right {
  margin-left: 0px; }

.nav-logo.column {
  padding: 0 15px; }

.dropdown-list {
  position: absolute;
  width: 410px;
  text-align: left;
  margin-left: 0px;
  background: #132024;
  z-index: 10;
  top: 80px;
  left: 0; }

.dropdown-list li:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.21); }

.header_user_info .nav-wrap li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px; }

.header_user_info .nav-wrap.trainings-wrap:hover li, .trainings-wrap:hover ul.dropdown-list, .header_user_info .nav-wrap.consultancy-wrap:hover li, .consultancy-wrap:hover ul.dropdown-list {
  display: block; }

.body-container-wrapper.row {
  margin: 0;
  max-width: 100%; }

.container-wrapper.row {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0; }
  .container-wrapper.row .item img {
    margin: 0 auto;
    width: 100%;
    height: 400px; }

.container-wrapper.row.container-wrapper-crousel {
  margin-top: 47px; }

.courses-wrapper .container-details {
  margin: 0; }

.container-wrapper.row.category-wrapper {
  margin-top: 0;
  height: 50px;
  background-color: #e8e8e8; }
  .container-wrapper.row.category-wrapper .container-center {
    max-width: 1040px;
    margin: 0 auto; }

.container-wrapper.row.category-group-info-wrapper {
  background-color: #777777;
  background: -webkit-linear-gradient(top, #777, #999);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #777, #999);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #777, #999);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #777, #999);
  /* Standard syntax */
  color: #f0f8ff;
  margin-top: 0; }
  .container-wrapper.row.category-group-info-wrapper .container-center {
    max-width: 1040px;
    margin: 0 auto; }
  .container-wrapper.row.category-group-info-wrapper .center-block {
    margin-left: auto;
    margin-right: auto;
    float: none; }

.container-background {
  position: absolute;
  opacity: 0.3; }

.container-dd-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px; }

.container-dd-training-detail {
  font-size: 16px; }

.container-wrapper.row .client-list img {
  width: 80px;
  height: 80px; }

.side-detail-wrap .side-detail-head {
  font-size: 24px;
  text-decoration: underline;
  color: #D2691E; }

.side-dd-subhead {
  font-size: 18px;
  color: #3E3D3D; }

.side-dd-detail {
  font-size: 16px; }
  .side-dd-detail input {
    width: 100%;
    font-size: 14px;
    height: 35px;
    padding-left: 5px; }
  .side-dd-detail textarea {
    width: 100%;
    height: 80px; }

.side-dd-detail-submit input {
  height: 35px; }

.carousel-content {
  position: absolute;
  top: 100px;
  right: 500px;
  padding: 1.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px; }

.carousel-indicators li {
  border: 1px solid #a9a9a9; }

.side-detail-demo-wrap .side-detail-head {
  padding-bottom: 5px;
  padding-top: 5px; }

.content-heading {
  font-size: 22px;
  font-weight: bold; }

.content-details {
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: justify;
  font-size: 18px; }

.content-button input[type="button"] {
  background-color: rgba(1, 211, 255, 0.79);
  border: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bold; }

.content-button input[type="button"]:hover {
  background-color: #01d3ff; }

li.tabs-title {
  background-color: #e8e8e8;
  border-right: 1px solid seashell;
  text-align: center;
  cursor: pointer;
  margin: 0;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background 0.6s ease-out;
  transition: background-color 0.6s ease-out; }

li.tabs-title:last-child {
  border-right: 0; }

li.tabs-title:hover {
  background-color: rgba(119, 119, 119, 0.6); }

li.tabs-title.tabs-title-active {
  background-color: #777777;
  color: #fff; }

h4.category-tab-title {
  line-height: 50px;
  margin: 0;
  padding-left: 10px; }

.category-group-info {
  display: none; }

.category-group-info:first-child {
  display: block; }

.category-group-info-title-ex h3 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold; }

.category-group-info-desc {
  font-size: 16px;
  text-align: justify;
  line-height: 40px;
  padding: 10px; }

a.button.read-more-button {
  height: 40px;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px 0 30px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background 0.6s ease-out;
  transition: background-color 0.6s ease-out; }

a.button.read-more-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }

.container-cloud-info-wrap {
  font-size: 20px; }

.container-cloud-title h3, .container-heading h3 {
  font-size: 30px;
  font-weight: bold;
  color: #01d3ff;
  text-transform: uppercase;
  text-align: center; }

.cloud-info-wrap-top, .cloud-info-wrap-bottom {
  text-align: center; }

.cloud-image-wrap img {
  width: 100%; }

.container-cloud-info {
  max-width: 1040px;
  margin: 0 auto; }

.cloud-tab-info {
  line-height: 80px;
  white-space: nowrap; }

.cloud-info-wrap-right {
  margin: 0;
  text-align: right; }

.cloud-info-wrap-mid-img, .cloud-info-wrap-medium {
  margin: 0; }

.container-details .training-det-wrap {
  height: 180px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  /* background: -webkit-linear-gradient(top, #c7c7c7, #999);
  background: -o-linear-gradient(bottom, #c7c7c7, #999);
  background: -moz-linear-gradient(bottom, #c7c7c7, #999);
  background: linear-gradient(to bottom, #c7c7c7, #999); */ }
.container-details .container-dd-training {
  height: 70px;
  line-height: 50px; }
  .container-details .container-dd-training .training-date {
    font-style: italic; }
.container-details .training-more-wrap {
  text-align: center; }
  .container-details .training-more-wrap input {
    height: 40px;
    background: #508fd4;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    border-radius: .25rem;
    border: 0;
    color: #fff;
    padding-right: 50px;
    padding-left: 15px;
    background-image: url("../images-new/arrow-white.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 20px; }

body, .customize-support {
  background-color: #f1f1f1; }

body.home-page-body {
  background-color: #fff; }

.customize-support .wrapper {
  background-color: transparent; }

.customize-support .wrapper .sb-right .sb-widget .textwidget {
  font-size: 16px; }

.wrapper {
  background-color: #f1f1f1; }
  .wrapper .content {
    width: 62%;
    margin-left: 4%;
    background: white;
    padding: 30px;
    margin-right: 1%; }
  .wrapper .sb-right {
    margin-left: 1%;
    box-sizing: border-box;
    margin-right: 2%;
    width: 30%;
    background: transparent; }
    .wrapper .sb-right .sb-widget {
      background: #fff;
      padding: 15px 30px;
      margin-bottom: 20px; }
      .wrapper .sb-right .sb-widget form.wpcf7-form {
        background: #fff;
        border: 0;
        font-size: 14px; }
        .wrapper .sb-right .sb-widget form.wpcf7-form input {
          width: 100%;
          height: 40px;
          margin: 5px 0 10px; }
        .wrapper .sb-right .sb-widget form.wpcf7-form textarea {
          width: 100%; }

.customize-support .wrapper .content {
  width: 62%;
  margin-left: 4%;
  background: white;
  padding: 30px;
  margin-right: 1%; }
.customize-support .wrapper .sb-right {
  margin-left: 1%;
  box-sizing: border-box;
  margin-right: 2%;
  width: 30%;
  background: transparent; }
  .customize-support .wrapper .sb-right .sb-widget {
    background: #fff;
    padding: 15px 30px;
    margin-bottom: 20px; }
    .customize-support .wrapper .sb-right .sb-widget form.wpcf7-form {
      background: #fff;
      border: 0;
      font-size: 14px; }
      .customize-support .wrapper .sb-right .sb-widget form.wpcf7-form input {
        width: 100%;
        height: 40px;
        margin: 5px 0 10px; }
      .customize-support .wrapper .sb-right .sb-widget form.wpcf7-form textarea {
        width: 100%; }

.customize-support .wrapper .content > div:first-child {
  font-size: 22px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center; }

.footer {
  background-color: #132024; }
  .footer .region-footer {
    text-align: center;
    color: #fff; }
  .footer h4 {
    line-height: 80px;
    margin: 0; }

.client-img-wrp {
  text-align: center; }

.second-inner .item .col-md-3 {
  padding-left: 0px; }

.second-inner .item .col-md-3 img {
  width: 100%;
  max-width: 100%; }

.second-inner > .item.next,
.second-inner > .item.active.right {
  left: 0px;
  -webkit-transform: translate3d(25%, 0, 0);
  -moz-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0); }

.second-inner > .item.prev,
.second-inner > .item.active.left {
  left: 0px;
  -webkit-transform: translate3d(-25%, 0, 0);
  -moz-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0); }

.fdi-Carousel .third-inner .active.left {
  left: -0%; }

.fdi-Carousel .third-inner .active.right {
  left: 0%; }

.fdi-Carousel .third-inner .next {
  left: 0%; }

.fdi-Carousel .third-inner .prev {
  left: 0%; }

div.image-wrap {
  border: 1px solid #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f6f6f6;
  border-radius: 5px;
  margin-bottom: 20px; }

.client-1.col-sm-2 {
  width: 20%; }

@media screen and (max-width: 64.063em) {
  .container-left {
    margin-top: 120px; }

  .container-right {
    position: absolute; }

  .container-background img {
    height: 700px; } }

/*# sourceMappingURL=app1.css.map */
